.wrap {
  display: flex;
  justify-content: space-between;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.title {
  font-size: 50px;
  color: var(--accent-color);
}
.description {
  line-height: 170%;
  font-weight: 100;
}
